@font-face {
    font-family: "Matthan Sans";
    src: url("../fonts/Matthan Sans Regular.ttf") format("truetype")
}

@font-face {
    font-family: "Kenyan Coffee";
    src: url("../fonts/kenyan coffee rg.ttf") format("truetype")
}

@font-face {
	font-family: "Gobold";
	src: url("../fonts/Gobold\ Regular.ttf") format("truetype");
}

:root {
  --accent-color: #8949ee;
  --fg-color: #fbfbfb;
  --bg-color: #1a1a1a;
}

html { 
    background: url(img/bg.png) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
	
}

#frame {
	display: grid;
	grid-template-rows: 4vh 6vh 6.7vh 33.3vh repeat(2, 1fr);
	row-gap: 2vh;
    width: 87.5vw; 
    height: 56.25vw; /* height:width ratio = 9/16 = .5625  */
    max-height: 86vh;
    max-width: 177.78vh; /* 16/9 = 1.778 */
    margin: auto;
    position: absolute;
    top:0;bottom:0;
    left:0;right:0;
}

.row {
    display: flex;
    justify-content: center;
    color: var(--accent-color);
}

.corner {
    font-family: "Matthan Sans";
    font-size: 3vh;
    letter-spacing: .63vw;
    align-items: flex-start;
}

.corner.top.right {
	margin-right: -.63vw;
	margin-left: .63vw;
	color: inherit;
	text-align: right;
	text-transform:uppercase;
}

.event {
	margin-top: 1vh;
	justify-content: space-between;
	padding: 0 9vw;
}

.row.event:before,
.row.event:after {
	margin: 2.25vh 0;
	border-top: .5vh solid;
	width: 8.52vw;
    content: '';
	color: var(--accent-color);
}

.event-name {
	font-family: "Kenyan Coffee";
	font-size: 4.5vh;
	color: inherit;
	letter-spacing: 1.15vw;
	margin-right: -1.15vw;
	width: 100%;
	text-align: center;
	text-transform:uppercase;
}

.stage {
	margin-top: .5vh;
}

.stage-title {
	font-family: "Matthan Sans";
	font-size: 5.2vh;
	letter-spacing: 1.15vw;
	text-indent: 1.15vw;
	text-align: center;
	padding: 0 1.5vw;
	padding-top: .5vh;
	background-color: var(--accent-color);
	text-transform:uppercase;
	line-height: 40%;
	color: var(--bg-color);
	width: 26vw;
}

.row.contenders {
	font-family: "Gobold";
	margin-top: 7.5vh;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.row.contenders:before,
.row.contenders:after {
	border: .5vh solid var(--accent-color);
	content: '';
	width: 3vw;
	height: 25vh;
	z-index: -1;
}

.row.contenders:before {
	border-right: none;
	position: relative;
	left: 6vw;
}

.row.contenders:after {
	border-left: none;
	position: relative;
	left: -6vw;
}

.vs {
	font-size: 10vh;
	width: 5vw;
	display: flex;
	justify-content: center;
}

.team {
	font-size: 16.5vh;
	padding: 2vh 1vw;
	color: var(--fg-color);
	width: 50%;
	display: flex;
	justify-content: center;
	text-align: center;
	text-transform:uppercase;
}

.row.maps {
	margin-top: 8vh;;
}

.maps {
	font-family: "Matthan Sans";
    font-size: 4vh;
    letter-spacing: .52vw;
	text-indent: .52vw;
	text-align: center;
	display: flex;
	align-items: center;	
	color: var(--fg-color);
	width: 100%;
}

.bottom {
	align-items: flex-end;
}

.shoutcasters {
	color: var(--fg-color);
	font-family: inherit;
  	width: 50%;
	text-transform:uppercase
}

input {
	font-family: inherit;
  	border: 0;
  	font-size: inherit;
  	letter-spacing: inherit;
  	background: transparent;
	align-items: center;	
}

.left, .right {
    flex-grow: 1;
    flex-basis: 0;
}

.right {
    display: flex;
    justify-content: flex-end;
}

.logo {
	width: auto;
	height: 3.5vh;
	
}

.urt {
	content:url(svg/urt_bullets.svg);
	align-self: baseline;
}

.fl {
	content:url(svg/fl_mark.svg);
}